* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom:1
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?lhoffy');
    src:  url('fonts/icomoon.eot?lhoffy#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?lhoffy') format('truetype'),
      url('fonts/icomoon.woff?lhoffy') format('woff'),
      url('fonts/icomoon.svg?lhoffy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }


.w {
    width: 1280px;
    margin: auto;
    font-family: Comic Sans MS;
}

body {
    background-color: #fff;
}

/* Header Start */
.header {
    height: 60px;
    background-color: #02AAB0;
}

/* header_L */
.header_L {
    float: left;
    width: 800px;
    height: 60px;
    background-color: #02AAB0;
}
/* Logo */
.logo {
    float: left;
    margin-left: 15px;
    margin-top: 7px;
}

.logo img {
    height: 45px;
}

/* Nav */
.nav {
    float: left;
    padding-left: 24px;
    padding-top: 23px;
    height: 19px;
}

.nav ul li {
    float: left;
    padding: 0 16px;
    line-height: 19px;
    font-size: 20px;
    font-family: Comic Sans MS;
    color: #050505;
}

.nav ul li a {
    display: block;
    height: 19px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #fff;
    color: #fff;
}

/* header_R */
.header_R {
    float: left;
    height: 60px;
    background-color: #02AAB0;
}

/* Search */
.search {
    float: left;
    margin-left: 15px;
    margin-top: 17px;
    height: 28px;
    width: 293px;
}

.search input {
    float: left;
    width: 250px; 
    height: 28px;
    outline:none;
    border: 2px solid #050505;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border-right: 0;
    color: #bfbfbf;
    text-indent: 1em;
    font-size: 14px;
    font-family: Comic Sans MS;
}


.search button {
    float: left;
    width: 28px;
    height: 28px;
    font-size: 18px;
    font-family: 'icomoon';
    color: #fff;
    background-color: #050505;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
    border: 0;

}

/* User */
.user {
    float: left;
    height: 49px;
    width: 49px;
    margin-top: 7.5px;
    background-color: #02AAB0;
}

.user img {
    border: 2px solid #050505;
    border-radius: 50%;
    vertical-align: middle;
}

/* nav_Func */
.nav_Func {
    float: right;
    margin-right: 15px;
    margin-top: 20px;
    height: 28px;
    width: 86px;
    background-color: #02AAB0;
}

.nav_Func ul li {
    float: right;
    height: 28px;
    width: 28px;
    margin-left: 15px;
}

.nav_Func ul li a {
    display: block;
    line-height: 28px;
    font-size: 28px;
    font-family: 'icomoon';
    color: #050505;
}
/* Header End */


.bottom {
    background: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
}


/* Test Start */
.test {
    height: 5988px;
    width: 1280px;
    
}

/* test_L */
.test_L {
    float: left;
    width: 900px;
    margin-left: 40px;
    margin-top: 48px;
    background-color: rgb(255, 255, 255, 0.7);
}


.test_L .test_Box ul {
    width: 850px;
    margin: 25px;
    margin-bottom: 70px;
}

.test_L .test_Box ul li {
    margin-top: 10px;
}

/* Submit */
#btn {
    display: block;
    margin-left: 375px;
    width: 150px;
    height: 42px;
    background-color: #02AAB0;
    border: 0px;
    border-radius: 5px;
    font-family: Comic Sans MS;
    color: #fff;
}

/* Result */
.test_L .result {
    margin-top: 68px;
    margin-left: 290px;
    margin-bottom: 68px;
    width: 320px;
    font-size: 20px;
    font-family: Comic Sans MS;
    color: #050505;
    background-color: rgb(2, 170, 176, 0.7);
}

/* test_R */
.test_R {
    float: right;
    width: 250px;
    height: 250px;
    position: sticky;
    top: 75px;
    background-color: rgb(255, 255, 255, 0.7);
    margin-right: 55px;
    margin-top: 48px;
}

.test_R .title {
    width: 250px;
    height: 44px;
    border-bottom: 1px solid #02AAB0;
}

.test_R .title h1 {
    display: block;
    float: left;
    height: 44px;
    width: 110px;
    line-height: 44px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #02AAB0;
}

.test_R .title .test_time {
    display: block; 
    float: left; 
    width: 130px;
    height: 44px; 
    font-size: 13px;
    line-height: 44px;
    text-align: center;
    margin-left: 5px;
    
} 

.test_R .subtitle {
    width: 250px;
    height: 40px;
    border-bottom: 1px solid #02AAB0;
}

.test_R .subtitle h2 {
    display: block;
    float: left;
    width: 110px; 
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #02AAB0;
}

.test_R .subtitle p {
    display: block; 
    float: left; 
    width: 130px;
    height: 44px; 
    font-size: 13px;
    line-height: 44px;
    text-align: center;
    margin-left: 5px;
}

.answer_Sheet ul {
    padding: 10px; 
    margin-left: 10px;
    margin-top: 5px;
    text-align: left;
}

.answer_Sheet li { 
    display: inline-block;
    margin-bottom: 5px; 
    height: 30px; 
    width: 30px; 
    margin-left: 1px;
    line-height: 30px; 
    text-align: center; 
    border: 1px solid rgb(228, 228, 228, 0);
}

.answer_Sheet li a {
    display: block;
    color: #050505;
}

.answer_Sheet li:hover { 
    border-color: #02AAB0;
}

.answer_Sheet li a:hover { 
    color: #02aab0;
}
/* Test End */


/* Footer Start */
.footer {
    height: 300px;
    margin-top: 126px;
    /* background-color: #02AAB0; */
}

.footer .con {
    margin-left: 200px;
    width: 880px;
    height: 200px;
    /* background-color: salmon; */
}

.footer .con .conL {
    float: right;
    width: 150px;
    height: 150px;
    margin-right: 25px;
    margin-top: 28px;
    /* background-color: yellow; */
}

.conL .images {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}


.conL .suba a {
    margin-left: 40px;
    line-height: 54px;
    font-size: 18px;
    font-family: Comic Sans MS;
    color: #050505;
    text-align: center;
}

.conL .suba a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.footer .con .conR {
    float: left;
    width: 280px;
    height: 150px;
    margin-left: 25px;
    margin-top: 28px;
    /* background-color: yellow; */
}

.conR ul {
    float: left;
}

.conR li {
    
    margin-left: 35px;
    margin-top: 20px;
}

.conR li a{
    font-size: 18px;
    font-family: Comic Sans MS;
    color: #050505;
} 

.conR li a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;

} 

.con2 {
    margin-left: 200px;
    width: 880px;
    height: 100px;
    /* background-color: gold; */
}

.footer .social {
    /* background-color: seagreen; */
    float: right;
}

.social ul li {
    float: right;
    margin: 0 15px;
}

.social ul li a {
    display: block;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    font-size: 20px;
    font-family: 'icomoon';
    color: #050505;
}

.social ul li a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}

/* Footer end */